<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      <h1>{{ site.title }}</h1>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for my_page in site.pages %}
          {% if my_page.in_nav %}
            <li class="nav-link {% if my_page.sub_pages %}more{% endif %}">
              <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% if my_page.sub_pages %}
              <ul class="submenu">
                {% for sub_page in my_page.sub_pages %}
                  <li><a href="{{ sub_page[1] | prepend: site.baseurl }}">{{ sub_page[0] }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search" action="https://github.com/thinktopography/reframe/search">
          <input type="search" name="q" placeholder="Search Source Code" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header>